#sortable{
    overflow:auto; 
}

.toast{
    top: -9cd 0px !important;
}

.scope_quantitativa{
    height: 100px;    
}

.dados{
    margin: 0 40px;
    font-size: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 1px solid #37474f !important;
    background: #455a64 !important;
}

#divLoad{
    padding-top: 23%;
    top: 0;
    display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.2) ;
	z-index: 1004;
}

.areaDados{
    border: 3px solid #37474f;
    border-radius: 6px;
    padding:12px 0;
}

.chips .input {
    width: 122px !important;
}

.sidenav li>a {
    padding: 0 16px !important;
}

@media only screen and (min-width: 993px){
    #toast-container {
        right: 1% !important;
    }
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #455a64 !important
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #37474f !important;
}

#corpoSite, #divLoad {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    #corpoSite, #divLoad {
      padding-left: 0;
    }
}
