#divLoad{
    padding-top: 23%;
    top: 0;
    display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.2) ;
	z-index: 1004;
}

.areaDados{
    border: 2px solid black;
    border-radius: 6px;
    padding:10px 0;
}

.chips .input {
    width: 122px !important;
}

.sidenav li>a {
    padding: 0 16px !important;
}

@media only screen and (min-width: 993px){
    #toast-container {
        right: 1% !important;
    }
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #455a64 !important
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #37474f !important;
}

#corpoSite, #divLoad {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    #corpoSite, #divLoad {
      padding-left: 0;
    }
}
