.chips .input {
    width: 122px !important;
}

.sidenav li>a {
    padding: 0 16px !important;
}

@media only screen and (min-width: 993px){
    #toast-container {
        right: 1% !important;
    }
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #455a64 !important
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #37474f !important;
}

#corpoSite {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    #corpoSite {
      padding-left: 0;
    }
}
