@{ Layout = null; }

<div class="rol">
    <h5 >Dados ordenados</h5>
    <div class="scroll"><table class="highlight" id="dadosOrdenados" style="margin-bottom: 30px"></table></div>
</div>

<script>
    var dadosOrdenados = '@ViewBag.Ordenar' != "" 
                            ? JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"'))).sort() 
                            : JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"')));
    coluna = 0;
    dadosOrdenados.forEach(function(dado,index){
        if(index % 2 == 0 || index == 0){
            $("#dadosOrdenados").append($("<tr>",{
                html: [$("<td>"),$("<td>")]
            }));

            coluna = 0;
        }

        $("#dadosOrdenados tr:last-child td:eq("+coluna+")").html(dado);
        coluna++;
    });

    $.get("/QualitativasQuantitativas/Tabela",{
        jsonDadosColetados: JSON.stringify(calculaFrequencias(dadosOrdenados))
    }).done(function(data){
        $("#frequenciaadcionada").append($("<div>",{
            class: "col s12 areaDados",
            html: [data]
        }));
    }).error(erro);
    $.get("/Qualitativas/Grafico",{
        jsonDadosColetados: JSON.stringify(montaInformacoesGrafico(dadosOrdenados))
    }).success(function(data){
        $("#graficoadicionado").append($("<div>",{
            class: "col s12 areaDados",
            html: [$("<h4>",{
                style: "text-align: left",
                html: ["Gráfico"]
            }),data]
    }));
    }).error(erro);
    $("#resultados").show();
    $("#retornar").show();
</script>
