@{ Layout = null; }

<div class="col s10 offset-s1" style="max-height: 500px; overflow:auto;">
    <h5 class="left">Dados ordenados</h5>
    <table class="highlight" id="dadosOrdenados" style="margin-bottom: 30px"></table>
</div>

<script>
    var dadosOrdenados = '@ViewBag.Ordenar' != "" 
                            ? JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"'))).sort() 
                            : JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"')));
        coluna = 0;

    dadosOrdenados.forEach(function(dado,index){
        if(index % 6 == 0 || index == 0){
            $("#dadosOrdenados").append($("<tr>",{
                html: [$("<td>"),$("<td>"),$("<td>"),$("<td>"),$("<td>"),$("<td>")]
            }));

            coluna = 0;
        }

        $("#dadosOrdenados tr:last-child td:eq("+coluna+")").html(dado);

        if(coluna < 7)
            coluna++;
    });

    $.get("/QualitativasQuantitativas/Tabela",{
        jsonDadosColetados: JSON.stringify(dadosOrdenados)
    }).done(function(data){
        $("#resultados").parent().parent().append($("<div>",{
            class: "row center rowAdicionada",
            style: "padding: 0 15px",
            html:  [ $("<div>",{
                        class: "col s8 offset-s2 areaDados",
                        style: "display: none;",
                        html:  [data]
                    })]
        }));

       $.get("/Qualitativas/Grafico",{
            jsonDados: JSON.stringify(dadosOrdenados)
        }).success(function(dataGrafico){
            $("#resultados").parent().append($("<div>",{
                class: "row center rowAdicionada",
                html: [ $("<div>",{
                            class: "col s8 offset-s2 areaDados",
                            style: "padding: 0 15px; margin-top: 20px;",
                            html: [dataGrafico]
                        })]
            }));
        }).error(function(xhr){
            M.Toast.dismissAll();  
            M.toast({ html: xhr.responseText });
        });

        $(".areaDados:last-child").slideDown("fast");
    }).error(function(xhr){
        M.Toast.dismissAll();  
        M.toast({ html: xhr.responseText });
    });
</script>
