<div class="mediamodamediana">
    <h5 class="left">Dados</h5>
    <table class="tabela highlight" id="dadosMediaModaMediana" style="margin-bottom: 30px">
        <thead>
            <td>C.V.</td>
            <td>Desvio Padrão</td>
            <td>Media</td>
            <td>Mediana</td>
            <td>Moda</td>
        </thead>
        <tbody></tbody>
    </table>
</div>


    <script>
        var objeto = medidasEstatisticasDiscreta(JSON.parse('@ViewBag.Dados'.replace(/&quot;/g,'"')),'@ViewBag.Amostra'),
            modaConcatenada = "";

        if(objeto.Moda != null){
            objeto.Moda.forEach(function(item){
                modaConcatenada +=  item + " / ";
            }); 
            modaConcatenada = modaConcatenada.substring(0, modaConcatenada.length - 2);
        }else{
            modaConcatenada = "NÃO TEM MODA"
        }
        $("#dadosMediaModaMediana tbody").append($("<tr>",{
                                                     html: [$("<td>",{
                                                                html: [objeto.CoeficienteDeVariacao]
                                                            }),$("<td>",{
                                                                html: [objeto.DesvioPadrao]
                                                            }),
                                                            $("<td>",{
                                                                html: [objeto.Media]
                                                            }),
                                                            $("<td>",{
                                                                html: [objeto.Mediana]
                                                            }),
                                                            $("<td>",{
                                                                html: [modaConcatenada]
                                                            })]
                                                 }));
    </script>