@{ Layout = null; }

<div class="rol">
    <h5 class="left">Dados ordenados</h5>
    <div class="scroll"><table class="highlight" id="dadosOrdenados" style="margin-bottom: 30px"></table></div>
</div>

<script>
    var dadosOrdenados = JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"'))),
        coluna = 0;

    dadosOrdenados.forEach(function(dado,index){
        if(index % 2 == 0 || index == 0){
            $("#dadosOrdenados").append($("<tr>",{
                html: [$("<td>"),$("<td>")]
            }));

            coluna = 0;
        }

        $("#dadosOrdenados tr:last-child td:eq("+coluna+")").html(dado);
        coluna++;
    });
</script>
