@{ Layout = null; }

<div class="rol">
    <h5 class="center">Dados ordenados</h5>
    <div class="scroll"><table class="highlight" id="dadosOrdenados" style="margin-bottom: 30px"></table></div>
</div>

<script>
    var dadosOrdenados = JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"'))),
        coluna = 0;

    dadosOrdenados.forEach(function (dado, index) {
        if (index == 0 || index == parseInt((dadosOrdenados.length / 2))) {
            $("#dadosOrdenados").append($("<tr>"));
        }

        $("#dadosOrdenados tr:last-child").append($("<td>", {
            html: [dado]
        }));
    });
</script>
