
@{
    ViewData["Title"] = "FomularioCorrelacaoRegrecao";
}

<div id="fomulario-dados" class="row center">
    <form class="col s8 offset-s2">
        <i class="material-icons right tooltipped" data-tooltip="Ajuda" data-position="left" onclick="ExibeAjuda()" style="cursor:pointer; margin-top: 10px; margin-right: 10px">help</i>
        <div class="areaDados">
            <div id="hiddenInputs">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <div id="warningsVariaveis"></div>
                        <p class="caption" style="text-align: left">Variável Idependente(X):</p>
                        <div class="chips input-field" style="text-align: left" id="chipsIdependente"></div>
                        <div id="warningsVariaveis"></div>
                        <p class="caption" style="text-align: left">Variável Dependente(Y):</p>
                        <div class="chips input-field" style="text-align: left" id="chipsDependente"></div>

                        <a class="waves-effect waves-light btn right blue-grey darken-2 disabled" style="margin-bottom:10px;" id="btnEnviaDados">
                            <i class="material-icons right">send</i>
                            Enviar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="resultados" class="row center qualitativa" style="padding: 0 15px">
    <div id="tabela" class="row col s12"></div>
    <div id="grafico" class="row col s12"></div>
    <div id="regressao" class="row col s12"></div>
    <div id="influencia" class="row col s12"></div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#slide-out").css("transform", "translateX(-105%)");
        $("body").css("overflow", "");
        $("#retornar").hide();

        $("input[name=radioTipo]").change(function () {
            $("#hiddenInputs").slideDown("fast");

            if (primeiraVez) {
                ExibeAjuda();
                primeiraVez = false;
            }
        });

        $("#chipsDependente input")
            .keyup(function (event) {
                if (event.which == 13) {
                    let dadosSeparados = [];
                    let dadosChips = M.Chips.getInstance($("#chipsDependente"));
                    let dadoSepardo = dadosChips.chipsData[dadosChips.chipsData.length - 1].tag.split(/\s*;\s*/);
                    if (dadoSepardo.length > 1) {
                        dadosChips.deleteChip(dadosChips.chipsData.length - 1);
                        dadoSepardo.forEach(function (item) {
                            dadosChips.addChip({
                                tag: item
                            });
                        });
                    }
                }
                HabilitaDesabilita();
            })
            .change(HabilitaDesabilita)
            .blur(HabilitaDesabilita);

        $("#chipsIdependente input")
            .keyup(function (event) {
                if (event.which == 13) {
                    let dadosSeparados = [];
                    let dadosChips = M.Chips.getInstance($("#chipsIdependente"));
                    let dadoSepardo = dadosChips.chipsData[dadosChips.chipsData.length - 1].tag.split(/\s*;\s*/);
                    if (dadoSepardo.length > 1) {
                        dadosChips.deleteChip(dadosChips.chipsData.length - 1);
                        dadoSepardo.forEach(function (item) {
                            dadosChips.addChip({
                                tag: item
                            });
                        });
                    }
                }
                HabilitaDesabilita();
            })
            .change(HabilitaDesabilita)
            .blur(HabilitaDesabilita);

        $("#btnEnviaDados").click(function () {
            let dadosColetadosX = [], dadosColetadosY = [], dadosCorrelacao = {}, dadosRegressao = {};

            M.Chips.getInstance($("#chipsIdependente")).chipsData.forEach(function (item) {
                dadosColetadosX.push(parseFloat(item.tag.replace(",", ".")));
            });
            M.Chips.getInstance($("#chipsDependente")).chipsData.forEach(function (item) {
                dadosColetadosY.push(parseFloat(item.tag.replace(",", ".")));
            });
            if (dadosColetadosY.length != dadosColetadosX.length) {
                alert("Dados não correspondentes");
                return;
            }
            $("#fomulario-dados").hide();
            for (let i = 0; i < dadosColetadosX.length; i++) {
                let acum = 0;
                for (let c = 0; c < dadosColetadosX.length; c++) {
                    if (dadosColetadosX[i] < dadosColetadosX[c]) {
                        acum = dadosColetadosX[i];
                        dadosColetadosX[i] = dadosColetadosX[c];
                        dadosColetadosX[c] = acum;
                        acum = dadosColetadosY[i];
                        dadosColetadosY[i] = dadosColetadosY[c];
                        dadosColetadosY[c] = acum;
                    }
                }
            }
            dadosCorrelacao = correlacao(dadosColetadosX, dadosColetadosY);
            dadosRegressao = regressao(dadosCorrelacao);
            $.post("/CorrelacaoRegrecao/Tabela", {
                jsonTabela: JSON.stringify(dadosCorrelacao["tabelaDis"]),
            }).done(function (data) {
                $("#tabela").append($("<div>", {
                    class: "col s12 areaDados",
                    html: [data]
                }));
            }).fail(erro);
            
            $.post("/CorrelacaoRegrecao/Grafico", {
                jsonDadosGrafico: JSON.stringify({ X: dadosColetadosX, Y: dadosColetadosY, B: dadosRegressao["valorB"], M: dadosRegressao["valorM"] })
            }).done(function (data) {
                $("#grafico").append($("<div>", {
                    class: "col s12 areaDados",
                    style: "padding: 0 10px",
                    html: [data]
                }));
            }).fail(erro);

            $.post("/CorrelacaoRegrecao/Influencia", {
                jsonDados: JSON.stringify(dadosCorrelacao["valoresInfluencia"]),
            }).done(function (data) {
                $("#influencia").append($("<div>", {
                    class: "col s12 areaDados",
                    html: [data]
                }));
                }).fail(erro);

            $("#regressao").append($("<div>", {
                class: "col s12 areaDados",
                style: "padding: 0 10px",
                html: [$("<h5>", {
                    html: ["Equação da reta"]
                }), $("<h5>", {
                        html: [dadosRegressao["equacaoRetaIlustrativa"]]
                })]
            }));

            $("#resultados, #retornar").show();
        });

        function ExibeAjuda() {
            M.Toast.dismissAll();
            M.toast({ html: "Use a tecla 'Enter' para inserir os dados" });
            M.toast({ html: "Use pontos ou vírgulas para numeros decimais" });
        }

        function HabilitaDesabilita() {
            if ($("#chipsDependente .chip").length > 0 && $("#chipsIdependente .chip").length > 0)
                $("#btnEnviaDados").removeClass("disabled");
            else
                $("#btnEnviaDados").addClass("disabled");
        }
    </script>
}

