<h5>Correlação</h5>
<canvas id="graficoCorrelacao" class="grafico"></canvas>
<h5>Regressão</h5>
<canvas id="graficoRegressao" class="grafico"></canvas>
<script>
    let dados = JSON.parse(String('@ViewBag.dadosGrafico'.replace(/&quot;/g, '"')));
    let dadosRegressao = [];
    dados.X.forEach(function (item) {
        dadosRegressao.push((parseFloat((dados.M * item) + dados.B).toFixed(2)));
    });
    let chartCor = new Chart("graficoCorrelacao", {
        type: "line",
        data: {
            labels: dados.X,
            datasets: [{
                label: "CORRELAÇÃO",
                data: dados.Y,
                fill: false
            }]
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    });

    let chartReg = new Chart("graficoRegressao", {
        type: "line",
        data: {
            labels: [dados.X[0], dados.X[dados.length - 1]],
            datasets: [
            {
                    label: "REGRESSÃO",
                    data: [dadosRegressao[0], dadosRegressao[dadosRegressao.length - 1]],
                borderColor: "rgb(78, 86, 99)",
                fill: false
            }]
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    });
</script>
