<form class="col s8 offset-s2">
    <div class="areaDados">
        <div class="row">
            <div class="input-field col s6 offset-s1">
                <input id="sucesso" type="text">
                <label for="sucesso">Sucesso:</label>
            </div>
            <div class="input-field col s6 offset-s1">
                <input id="falha" type="text">
                <label for="falha">Falha:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s1">
                <input id="amostra" type="text">
                <label for="amostra">Amostra:</label>
            </div>
            <div class="input-field col s6 offset-s1">
                <input id="quantidade" type="text">
                <label for="quantidade">Quantidade:</label>
            </div>
        </div>
    </div>
</form>

<script>
    $("#slide-out").css("transform", "translateX(-105%)");
</script>