<div id="formulario-distribuicao-uniforme" class="row center">
    <form class="col s4 offset-s4">
        <div class="areaDados">
            <div class="container">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="desPadrao" type="text">
                        <label for="desPadrao">Desvio Padrão:</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="media" type="text">
                        <label for="media">Media:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select id="selectIntervalo">
                            <option value="" disabled selected>Escolha uma opção:</option>
                            <option value="E">Entre</option>
                            <option value="MA">Maior que</option>
                            <option value="ME">Menor que</option>
                        </select>
                        <label>Intervalo:</label>
                    </div>
                </div>
                <div class="row" id="camposVariaveis" style="display: none">
                    <div class="input-field col s6">
                        <input id="campoVariavel" type="text">
                        <label for="campoVariavel" id="labelCampoVariavel"></label>
                    </div>
                </div>
                <div id="campoIntervalo" style="display: none">
                    <div class="row" id="entre">
                        <div class="input-field col s6">
                            <input id="maiorQue" type="text">
                            <label for="maiorQue">Maior que:</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="menorQue" type="text">
                            <label for="menorQue">Menor que:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s2">
                        <a class="waves-effect waves-light btn right blue-grey darken-2" style="margin-bottom: 10px;" id="btnEnviaDadosDistribuicaoUniforme">
                            <i class="material-icons right">send</i>
                            Enviar
                        </a>
                    </div>
                </div>
                <div class="row center" id="resultadoDistribuicaoNormal">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $("#slide-out").css("transform", "translateX(-105%)");
    $("body").css("overflow", "");

    $("#selectIntervalo").change(function () {
        if ($(this).val() != "E") {
            $("#campoIntervalo").fadeOut("fast");
            $("#camposVariaveis").fadeIn("fast");
        } else {
            $("#campoIntervalo").fadeIn("fast");
            $("#camposVariaveis").fadeOut("fast");
        }

        if ($(this).val() == "I")
            $("#labelCampoVariavel").text("Igual a:");
        else if ($(this).val() == "MA")
            $("#labelCampoVariavel").text("Maior que:");
        else if ($(this).val() == "ME")
            $("#labelCampoVariavel").text("Menor que:");
    });

    $("#btnEnviaDadosDistribuicaoUniforme").click(function () {
        let dados = "";
        if ($("#selectIntervalo").val() == "E") {
            dados = distribuicaoNormal(parseFloat($("#desPadrao").val()), parseFloat($("#media").val()), [parseFloat($("#maiorQue").val()), parseFloat($("#menorQue").val())]);
        } else if ($("#selectIntervalo").val() == "MA") {
            dados = distribuicaoNormal(parseFloat($("#desPadrao").val()), parseFloat($("#media").val()), parseFloat($("#campoVariavel").val()), "MA");
        } else if ($("#selectIntervalo").val() == "ME") {
            dados = distribuicaoNormal(parseFloat($("#desPadrao").val()), parseFloat($("#media").val()), parseFloat($("#campoVariavel").val()));
        }
        $("#resultadoDistribuicaoNormal").html("").append($("<p>",
            {
                html: ["A porcentagem é: " + dados + "%"]
            }));
    });
</script>


