<div class="row center">
    <form class="col s12">
        <p>
            <label>
                <input type="radio" name="radioTipo" value="A"/>
                <span>Amostra</span>
            </label>
            <label>
                <input type="radio" name="radioTipo" value="P"/>
                <span>Populacao</span>
            </label>
        </p>
        
        <div id="textAreaVariaveis" style="display: none" class="col s6 offset-s3">
            <div id="warningsVariaveis"></div>
            <div class="chips center">
                <i class="material-icons right tooltipped" data-tooltip="Ajuda" data-position="left" onclick="ExibeAjuda()" style="cursor:pointer">help</i>
                <p>Digite os dados abaixo.</p>
            </div>
            <a class="waves-effect waves-light btn right blue-grey darken-2 disabled" style="margin-bottom:10px;">
                <i class="material-icons right">send</i>
                Enviar
            </a>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        var primeiraVez = true;

        $("input[name=radioTipo]").change(function(){
           $("#textAreaVariaveis").slideDown("fast"); 

            if(primeiraVez){
                ExibeAjuda();
                primeiraVez = false;
            }
        });

        function ExibeAjuda(){
            M.Toast.dismissAll();
            M.toast({html: "Use a tecla 'Enter' para inserir os dados", inDuration: 5000});
            M.toast({html: "Use pontos ou vírgulas para numeros decimais", inDuration: 5000});
        }
    </script>
}
