<div class="row">
    <form class="col s12">
        <p>
            <label>
                <input type="radio" name="radioTipo" value="A" checked/>
                <span>Amostra</span>
            </label>
            <label>
                <input type="radio" name="radioTipo" value="P"/>
                <span>Populacao</span>
            </label>
        </p>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        
    </script>
}
