@{ Layout = null; }

<div class="frequencia">
    <h5>Tabela</h5>

    <div class="scroll">

        <table class="tabela highlight" id="tabela" style="margin-bottom: 30px">
            <thead>
                <tr>
                    <td>VaP</td>
                    <td>Fr</td>
                    <td>Fr%</td>
                    <td>FrA</td>
                    <td>FrA%</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</div>   

    <script>
        JSON.parse(String('@ViewBag.Dados'.replace(/&quot;/g,'"'))).forEach(function(item){
            $("#tabela tbody").append($("<tr>",{
                html: [ $("<td>",{
                            html: [item.Var]
                        }),
                        $("<td>",{
                            html: [item.Fr]
                        }),
                        $("<td>",{
                            html: [item.FrP]  
                        }),
                        $("<td>",{
                            html: [item.FrA]
                        }),
                        $("<td>",{
                            html: [item.FrAP]
                        }) ]
            }));
        });
    </script>  